.header{
    background-image: url('images/donation1.jpg');
    background:  linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url('images/donation1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding:10%;
    margin-bottom: 50px;
}
.banner{
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
}
.banner-title{
    font-size: 80px;
    font-weight: 700;
    text-align: center;

}
.banner p {
    font-weight: 400;
font-size: 18px;
text-align: center;

}
.btn{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 32px;
    border: 0;
    padding:18px 35px 19px 36px;
}
/* style donate today */
.donate-today{
    background-color:papayawhip;
    display: block;
    text-align: center; 
    margin-bottom: 50px;
}
.donate-today-title{
    text-align: center;
}
.donate-today-title h1{
    font-size: 50px;
    font-weight: 700;
}
.option{
    display: flex;
    gap: 60px;
    list-style: none;
    border-radius: 20px;border-width: 15px;
    margin-left: 30%;}
.option li{
    background:#FAFAFA;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
font-size: large;
font-weight: 500;
}
.plane-title{
    text-align: center; 
    margin-bottom: 50px;
    font-size: 40px;
    font-weight:700;
} 
.plane-title p{
   font-size: 18px;
   font-weight: 400;
}
.main-icon{
    display: flex;
    align-items: center;
    margin-left: 30%;
    gap: 25px;
    
}
.icons{
    background:rgba(255, 235, 205, 0.918);
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 1px;
padding: 20px;;
}
.picture{
    display: flex;
    align-items:initial;

}
.picture-first{
    text-align: center;
}